<%= form_for(@posting, :html => { :multipart => true }) do |f| %>
<% if @posting.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

  <ul>
    <% @posting.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="th-text col-md-2"><%= f.label :title, :class => "label-text" %></td>
      <td colspan="5" class="td-text col-md-10"><%= f.text_field :title, :class => "input-text" %></td>
    </tr>
    <tr>
      <td class="th-text col-md-2"><%= f.label :description, :class => "label-text" %></td>
      <td colspan="5" class="td-text col-md-10"><%= f.text_area :description, { :class => "input-text textarea-styled", :style => "height: 120px; width: 600px" } %></td>
    </tr>
    <tr>
      <td class="th-text col-md-2"><%= f.label :category_id, :class => "label-text" %></td>
      <td colspan="5" class="td-text col-md-10"><%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name", @posting.category_id), { :include_blank => "Select category"}, { :class => "input-text form-control styled-select col-md-10" } %></td>
    </tr>
    <tr>
      <td class="th-text col-md-2"><%= f.label :cost, :class => "label-text" %></td>
      <td colspan="5" class="td-text col-md-10"><%= f.text_field :cost, :class => "input-text"  %></td>
    </tr>
    <tr>
      <td class="th-text col-md-2"><%= f.label :street, :class => "label-text" %></td>
      <td colspan="5" class="td-text col-md-10"><%= f.text_field :street, :class => "input-text"  %></td>
    </tr>
    <tr>
      <td class="th-text col-md-2"><%= f.label :city, :class => "label-text" %></td>
      <td class="td-text col-md-3"><%= f.text_field :city, :class => "input-text" %></td>
      <td class="th-text col-md-2"><%= f.label :state, :class => "label-text" %></td>
      <td class="td-text col-md-1"><%= f.select :state, options_for_select(us_states, @posting.state), { :include_blank => "Select state"}, { :class => "input-text styled-select col-md-1" }  %></td>
      <td class="th-text col-md-1"><%= f.label :zip, :class => "label-text" %></td>
      <td class="td-text col-md-1"><%= f.text_field :zip, :class => "input-text" %></td>
    </tr>
    <tr>
      <td class="th-text col-md-2"><%= f.label :phone, :class => "label-text" %></td>
      <td colspan="5" class="col-md-10"><%= f.text_field :phone, :class => "input-text" %></td>
    </tr>
    <tr>
      <td class="th-text col-md-2"><%= f.label :email, :class => "label-text" %></td>
      <td colspan="5" class="td-text col-md-10"><%= f.text_field :email, :class => "input-text" %></td>
    </tr>
    <tr>
      <td class="th-text col-md-2"><%= f.label :image, :class => "label-text" %></td>
      <td colspan="5" class="td-text col-md-10"><%= f.file_field :image, :class => "input-text" %></td>
    </tr>
  </tbody>
</table>

<div class="actions col-md-2">
  <%= f.submit "Update Posting", :class => 'btn btn-primary', :role => "button" %>
  <% end %>
  <br><br>
    <div class="btn-group">
    <%= link_to 'Show', @posting, :class => "btn btn-primary", :role => "button" %>
    <%= link_to 'Back', postings_path, :class => "btn btn-primary", :role => "button" %>
  </div>
</div>
