<%= form_for(@posting, :html => { :multipart => true }) do |f| %>
<% if @posting.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

  <ul>
    <% @posting.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<%= render partial: 'category_picker' %>

<div class="field">
  <%= f.label :rate %><br>
  <%= f.text_field :rate %>
</div>

<table class="table table-bordered" style="width: 30%">
  <thead>
    <tr>
      <th class="col-md-1">From</th>
      <th class="col-md-1">To</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="field">
          <input name="rentrange[from]" type="text" id="from-date">
        </div>
      </td>
      <td>
        <div class="field">
          <input name="rentrange[to]" type="text" id="to-date">
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- <div class="field"> -->
<div class="field">
  <%= f.label :street %><br>
  <%= f.text_field :street %>
</div>
<div class="field">
  <%= f.label :city %><br>
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :state %><br>
  <%= f.select :state, options_for_select(us_states, @posting.state) %>


  <%#= f.text_field :state %>
</div>

<div class="field">
  <%= f.label :zip %><br>
  <%= f.text_field :zip %>
</div>
<div class="field">
  <%= f.label :phone %><br>
  <%= f.text_field :phone %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
