<p id="notice"><%= notice %></p>

<video autoplay id="video-bg">
  <source src="https://a0.muscache.com/airbnb/static/London-P1-1.mp4" type="video/mp4">
  <source src="https://a0.muscache.com/airbnb/static/London-P1-0.webm" type="video/webm">
Your browser does not support the video tag.
</video>

<h1>Listing Postings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Rate</th>
      <th>Date range</th>
      <th>Street</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <tr id="whitelink">
        <td><%= posting.title %></td>
        <td><%= posting.description %></td>
        <td><%= posting.category.try :name %></td>
        <td><%= posting.rate %></td>
        <td><%= posting.available_dates %></td>
        <td><%= posting.street %></td>
        <td><%= posting.state %></td>
        <td><%= posting.zip %></td>
        <td><%= posting.phone %></td>
        <td><%= posting.email %></td>
        <td><%= link_to 'Show', posting, id:"whitelink" %></td>
        <td><%= link_to 'Edit', edit_posting_path(posting), id:"whitelink" %></td>
        <td><%= link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' }, id:"whitelink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="whitelink">
<%= link_to 'New Posting', new_posting_path, id:"whitelink" %>
</div>
