<div class='row'>
  <div class="showpage col-md-6" id='blacklink' >

    <div class="row">
      <%= render 'carousel' %>
    </div>
    <br>
    <div class="row">
      <%= render 'posting_table' %>
    </div>

    <div class="row">
      <div id='reserve'>
        <%= form_tag new_posting_reservation_path(@posting), method: :get %>
          <%= render 'shared/date_range_picker' %>
          <%= submit_tag "Reserve", :class => 'btn btn-primary', :role => "button" %>
        </form>
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <div id="cost">
      COST <%= @posting.cost %>
    </div>
    <div id="offerContainer">
      <div id='offeredBy'>
        OFFERED BY
        <% if @posting.user %>
        <div class="col-md-10"><%= link_to  @posting.user.email, users_path(@posting.user_id) %></div>
        <% else %>
        <div class="col-md-10"></div>
        <% end %>
      </div>
    </div>



    <div id="map" class="map">
      <div class="popup" data-trigger="hover" data-toggle="popover" data-original-title="" title="" data-placement=""></div>
    </div>
  </div>

  <div class="container col-md-6">

  <div class="row">
    <br><br>
    <div class="btn-group">
      <%= link_to 'Edit', edit_posting_path(@posting), :class => "btn btn-primary", :role => "button" %>
      <%= link_to 'Back', postings_path, :class => "btn btn-primary", :role => "button" %>
    </div>
  </div>

  <div class="row">
    <h3><strong> REVIEWS </strong></h3>
    <table class="table table-bordered">
      <thead>
        <th>Comments</th>
        <th>Created</th>
        <th>Rating</th>
      </thead>
      <tbody>
        <%= render @reviews %>
      </tbody>
    </table>
  </div>
</div>

<script>
  function drawTheThings(){
    if (window.RentMyThing && window.RentMyThing.drawMap) {
      drawMap = window.RentMyThing.drawMap
      mapAttributes = <%= @mapAttributes_json == nil ? nil : @mapAttributes_json.html_safe %>
      drawMap(mapAttributes)
    } else {
      console.log("Map.js not loaded before trying to draw map")
    }
  }
  $(document).on ('page:change', drawTheThings);
  $(document).ready(drawTheThings);
</script>
