
<div class='showpage' id='blacklink'>
<p>
  <strong>Title:</strong>
  <%= @posting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @posting.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @posting.category.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @posting.rate %>
</p>



<p>
  <strong>Date range:</strong>
  <%= @posting.available_dates %>
</p>

<p>
  <strong>Street:</strong>
  <%= @posting.street %>
</p>

<p>
  <strong>State:</strong>
  <%= @posting.state %>
</p>


<p>
  <strong>Zip:</strong>
  <%= @posting.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @posting.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @posting.email %>
</p>

<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
</div>
