<div class='row'>
  <div class="showpage col-md-6" id='blacklink'>
    <% unless @posting.image.blank? %>
    <p>
      <%= image_tag @posting.image.url  %>
    </p>
    <% end %>
    <br>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="col-md-2">Title:</th>
          <td class="col-md-10"><%= @posting.title %></td>
        </tr>
        <tr>
          <th class="col-md-2">Description:</th>
          <td class="col-md-10"><%= @posting.description %></td>
        </tr>
        <tr>
          <th class="col-md-2">Category:</th>
          <td class="col-md-10"><%= @posting.category.try :name %></td>
        </tr>
        <tr>
          <th class="col-md-2">Cost:</th>
          <td class="col-md-10"><%= @posting.cost %></td>
        </tr>
        <tr>
          <th class="col-md-2">Dates Available:</th>
          <td class="col-md-10"><%= @posting.available_dates.try :first %> to <%= @posting.available_dates.try :last %></td>
        </tr>
        <tr>
          <th class="col-md-2">Street:</th>
          <td class="col-md-10"><%= @posting.street %></td>
        </tr>
        <tr>
          <th class="col-md-2">City:</th>
          <td class="col-md-10"><%= @posting.city %></td>
        </tr>
        <tr>
          <th class="col-md-2">State:</th>
          <td class="col-md-10"><%= @posting.state %></td>
        </tr>
        <tr>
          <th class="col-md-2">Zip:</th>
          <td class="col-md-10"><%= @posting.zip %></td>
        </tr>
        <tr>
          <th class="col-md-2">Phone:</th>
          <td class="col-md-10"><%= @posting.phone %></td>
        </tr>
        <tr>
          <th class="col-md-2">Offered By:</th>
          <td class="col-md-10"><%= link_to  "#{@posting.user.email}", users_path(@posting.user_id) %></td>
        </tr>
        <tr>
          <td colspan="2">
          <div >
            <%= render "reviews/form", :locals => { :review => @review } %> | <%= rating_for @posting, "title", disable_after_rate: false %>
          </div>
        </td>
        </tr>
      </tbody>
    </table>

    <%= form_tag new_posting_reservation_path(@posting), method: :get %>
      <%= render 'shared/date_range_picker' %>

      <input type="submit" value="Reserve">
    </form>


    <%= link_to 'Edit', edit_posting_path(@posting) %> |
    <%= link_to 'Back', postings_path %>
  </div>

  <div class="container col-md-6">
    <div id="map" class="map" data-address="<%= @posting.street %>, <%= @posting.city %> <%= @posting.state %> <%= @posting.zip %>"></div>
    <h3><strong> REVIEWS </strong></h3>
    <table class="table table-bordered">
    <thead>
      <th>Comments</th>
      <th>Created</th>
      <th>Rating</th>
    </thead>
      <tbody>
        <%= render @reviews %>
      </tbody>
    </table>
  </div>

</div>
