<%= form_for([@posting, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= [ @reservation.when.first ]%>
     to
    <%= [ @reservation.when.last ]%>
  </div>

  <%= f.hidden_field :when, value: "#{@reservation.when.begin.strftime '%m-%d-%Y'} - #{@reservation.when.end.strftime '%m-%d-%Y'}" %>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
