<p id="notice"><%= notice %></p>

<h3>Your Reservations</h3>

<table>
  <thead class="table table-styled table-bordered">
    <tr>
      <th>User</th>
      <th>Posting</th>
      <th>When</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user.try :email %></td>
        <td><%= reservation.posting.try :title %></td>
        <td><%= reservation.when %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
